# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
.Python
env/
venv/
ENV/
.venv/

# =========================
# dbt
# =========================
target/
dbt_packages/
logs/

# =========================
# dbt Credentials / Secrets
# =========================
secrets.yml
credentials.yml
profiles.yml

# =========================
# IDEs & Editors
# =========================
.vscode/
.idea/
*.swp
*~

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# macOS
# =========================
.DS_Store